.contact {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 700px) {
    .google-map {
        display: none;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }
}


  