/*
.dotterNav {
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.6;
}


.navbar-collapse {
    padding-top: 20px;
}

.navbar-brand img{
    height: 4rem;
}

.nav-link {
    height: 1rem;
}
*/

.nav-link {
    text-decoration: none;
}